USE [chopperia]
GO
/****** Object:  Table [dbo].[CARTAO]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTAO](
	[ID_CARTAO] [numeric](18, 0) NOT NULL,
	[DT_EMISSAO] [date] NULL,
	[FK_ID_TP_CARTAO] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARTAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARTAO_CLIENTE]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTAO_CLIENTE](
	[FK_ID_CLIENTE] [numeric](18, 0) NULL,
	[FK_ID_CARTAO] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARTAO_PEDIDO]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTAO_PEDIDO](
	[FK_ID_PEDIDO] [numeric](18, 0) NULL,
	[FK_ID_CARTAO] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CERVEJA]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CERVEJA](
	[ID_CERVEJA] [numeric](18, 0) NOT NULL,
	[NM_CERVEJA] [varchar](50) NULL,
	[QTD_CERVEJA] [numeric](18, 0) NULL,
	[FK_ID_TP_CERVEJA] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CERVEJA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [numeric](18, 0) NOT NULL,
	[NM_CLIENTE] [varchar](50) NULL,
	[CPF] [varchar](11) NOT NULL,
	[DT_NASC] [date] NULL,
	[EMAIL] [varchar](50) NULL,
	[TELEFONE] [varchar](20) NOT NULL,
	[DT_CADASTRO] [date] NULL,
	[ENDERECO] [varchar](100) NULL,
	[FK_ID_GENERO] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCIONARIO]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONARIO](
	[ID_FUNC] [numeric](18, 0) NOT NULL,
	[NM_FUNC] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[SENHA] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FUNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENERO]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERO](
	[ID_GENERO] [numeric](18, 0) NOT NULL,
	[DESC_GENERO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GENERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOTIVO_DE_PAGAMENTO]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOTIVO_DE_PAGAMENTO](
	[ID_MT_PGTO] [numeric](18, 0) NOT NULL,
	[DESC_MT_PGTO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MT_PGTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGAMENTO]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGAMENTO](
	[ID_PGTO] [numeric](18, 0) NOT NULL,
	[DT_PGTO] [date] NULL,
	[VL_PGTO] [numeric](18, 0) NULL,
	[FK_ID_CLIENTE] [numeric](18, 0) NULL,
	[FK_ID_MT_PGTO] [numeric](18, 0) NULL,
	[FK_ID_CARTAO] [numeric](18, 0) NULL,
	[FK_ID_TP_PGTO] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PGTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[ID_PEDIDO] [numeric](18, 0) NOT NULL,
	[DT_PEDIDO] [date] NULL,
	[HR_PEDIDO] [time](7) NULL,
	[FK_ID_FUNC] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO_CERVEJA]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO_CERVEJA](
	[FK_ID_PEDIDO] [numeric](18, 0) NULL,
	[FK_ID_CERVEJA] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALDO]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALDO](
	[ID_SALDO] [numeric](18, 0) NOT NULL,
	[QTD_SALDO] [numeric](18, 0) NULL,
	[FK_ID_CARTAO] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SALDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESSAO]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSAO](
	[ID_SESSAO] [int] IDENTITY(1,1) NOT NULL,
	[FK_ID_CARTAO] [numeric](18, 0) NULL,
	[FK_ID_CLIENTE] [numeric](8, 0) NULL,
	[DT_ENTRADA] [date] NOT NULL,
	[DT_SAIDA] [date] NOT NULL,
	[HORA_ENTRADA] [time](7) NULL,
	[HORA_SAIDA] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SESSAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DE_CARTAO]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DE_CARTAO](
	[ID_TP_CARTAO] [numeric](18, 0) NOT NULL,
	[DESC_CARTAO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TP_CARTAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DE_CERVEJA]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DE_CERVEJA](
	[ID_TP_CERVEJA] [numeric](18, 0) NOT NULL,
	[DESC_TP_CERVEJA] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TP_CERVEJA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DE_PAGAMENTO]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DE_PAGAMENTO](
	[ID_TP_PGTO] [numeric](18, 0) NOT NULL,
	[DESC_TP_PGTO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TP_PGTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DE_USUARIO]    Script Date: 03/06/2025 10:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DE_USUARIO](
	[ID_TP_USUARIO] [numeric](18, 0) NULL,
	[DESC_TP_USUARIO] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CARTAO_CLIENTE] ([FK_ID_CLIENTE], [FK_ID_CARTAO]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[CARTAO_CLIENTE] ([FK_ID_CLIENTE], [FK_ID_CARTAO]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[CARTAO_CLIENTE] ([FK_ID_CLIENTE], [FK_ID_CARTAO]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)))
GO
INSERT [dbo].[CARTAO_PEDIDO] ([FK_ID_PEDIDO], [FK_ID_CARTAO]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[CARTAO_PEDIDO] ([FK_ID_PEDIDO], [FK_ID_CARTAO]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[CARTAO_PEDIDO] ([FK_ID_PEDIDO], [FK_ID_CARTAO]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)))
GO
INSERT [dbo].[CERVEJA] ([ID_CERVEJA], [NM_CERVEJA], [QTD_CERVEJA], [FK_ID_TP_CERVEJA]) VALUES (CAST(1 AS Numeric(18, 0)), N'Pilsen Original', CAST(500 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[CERVEJA] ([ID_CERVEJA], [NM_CERVEJA], [QTD_CERVEJA], [FK_ID_TP_CERVEJA]) VALUES (CAST(2 AS Numeric(18, 0)), N'IPA Explosiva', CAST(350 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[CERVEJA] ([ID_CERVEJA], [NM_CERVEJA], [QTD_CERVEJA], [FK_ID_TP_CERVEJA]) VALUES (CAST(3 AS Numeric(18, 0)), N'Stout Cremosa', CAST(300 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)))
GO
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NM_CLIENTE], [CPF], [DT_NASC], [EMAIL], [TELEFONE], [DT_CADASTRO], [ENDERECO], [FK_ID_GENERO]) VALUES (CAST(1 AS Numeric(18, 0)), N'Roberto Almeida', N'12345678901', CAST(N'1985-05-12' AS Date), N'roberto.almeida@email.com', N'11987654321', CAST(N'2023-01-10' AS Date), N'Rua das Flores, 123, São Paulo', CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NM_CLIENTE], [CPF], [DT_NASC], [EMAIL], [TELEFONE], [DT_CADASTRO], [ENDERECO], [FK_ID_GENERO]) VALUES (CAST(2 AS Numeric(18, 0)), N'Camila Rodrigues', N'23456789012', CAST(N'1990-08-23' AS Date), N'camila.rodrigues@email.com', N'11976543210', CAST(N'2023-02-15' AS Date), N'Avenida Paulista, 456, São Paulo', CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NM_CLIENTE], [CPF], [DT_NASC], [EMAIL], [TELEFONE], [DT_CADASTRO], [ENDERECO], [FK_ID_GENERO]) VALUES (CAST(3 AS Numeric(18, 0)), N'Fernando Carvalho', N'34567890123', CAST(N'1988-11-07' AS Date), N'fernando.carvalho@email.com', N'11965432109', CAST(N'2023-03-20' AS Date), N'Rua Augusta, 789, São Paulo', CAST(1 AS Numeric(18, 0)))
GO
INSERT [dbo].[FUNCIONARIO] ([ID_FUNC], [NM_FUNC], [EMAIL], [SENHA]) VALUES (CAST(1 AS Numeric(18, 0)), N'João Silva', N'joao.silva@chopperia.com', N'senha123')
INSERT [dbo].[FUNCIONARIO] ([ID_FUNC], [NM_FUNC], [EMAIL], [SENHA]) VALUES (CAST(2 AS Numeric(18, 0)), N'Maria Oliveira', N'maria.oliveira@chopperia.com', N'senha456')
INSERT [dbo].[FUNCIONARIO] ([ID_FUNC], [NM_FUNC], [EMAIL], [SENHA]) VALUES (CAST(3 AS Numeric(18, 0)), N'Pedro Santos', N'pedro.santos@chopperia.com', N'senha789')
GO
INSERT [dbo].[GENERO] ([ID_GENERO], [DESC_GENERO]) VALUES (CAST(1 AS Numeric(18, 0)), N'Masculino')
INSERT [dbo].[GENERO] ([ID_GENERO], [DESC_GENERO]) VALUES (CAST(2 AS Numeric(18, 0)), N'Feminino')
INSERT [dbo].[GENERO] ([ID_GENERO], [DESC_GENERO]) VALUES (CAST(3 AS Numeric(18, 0)), N'Não binário')
GO
INSERT [dbo].[MOTIVO_DE_PAGAMENTO] ([ID_MT_PGTO], [DESC_MT_PGTO]) VALUES (CAST(1 AS Numeric(18, 0)), N'Recarga de cartão')
INSERT [dbo].[MOTIVO_DE_PAGAMENTO] ([ID_MT_PGTO], [DESC_MT_PGTO]) VALUES (CAST(2 AS Numeric(18, 0)), N'Pagamento de consumo')
INSERT [dbo].[MOTIVO_DE_PAGAMENTO] ([ID_MT_PGTO], [DESC_MT_PGTO]) VALUES (CAST(3 AS Numeric(18, 0)), N'Pagamento de evento')
GO
INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [DT_PEDIDO], [HR_PEDIDO], [FK_ID_FUNC]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(N'2025-05-01' AS Date), CAST(N'19:30:00' AS Time), CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [DT_PEDIDO], [HR_PEDIDO], [FK_ID_FUNC]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(N'2025-05-02' AS Date), CAST(N'20:15:00' AS Time), CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [DT_PEDIDO], [HR_PEDIDO], [FK_ID_FUNC]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(N'2025-05-03' AS Date), CAST(N'21:00:00' AS Time), CAST(3 AS Numeric(18, 0)))
GO
INSERT [dbo].[PEDIDO_CERVEJA] ([FK_ID_PEDIDO], [FK_ID_CERVEJA]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[PEDIDO_CERVEJA] ([FK_ID_PEDIDO], [FK_ID_CERVEJA]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[PEDIDO_CERVEJA] ([FK_ID_PEDIDO], [FK_ID_CERVEJA]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[SESSAO] ON 

INSERT [dbo].[SESSAO] ([ID_SESSAO], [FK_ID_CARTAO], [FK_ID_CLIENTE], [DT_ENTRADA], [DT_SAIDA], [HORA_ENTRADA], [HORA_SAIDA]) VALUES (1, CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(8, 0)), CAST(N'2025-05-20' AS Date), CAST(N'2025-05-20' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:30:00' AS Time))
INSERT [dbo].[SESSAO] ([ID_SESSAO], [FK_ID_CARTAO], [FK_ID_CLIENTE], [DT_ENTRADA], [DT_SAIDA], [HORA_ENTRADA], [HORA_SAIDA]) VALUES (2, CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(8, 0)), CAST(N'2025-05-20' AS Date), CAST(N'2025-05-20' AS Date), CAST(N'09:15:00' AS Time), CAST(N'18:45:00' AS Time))
INSERT [dbo].[SESSAO] ([ID_SESSAO], [FK_ID_CARTAO], [FK_ID_CLIENTE], [DT_ENTRADA], [DT_SAIDA], [HORA_ENTRADA], [HORA_SAIDA]) VALUES (3, CAST(3 AS Numeric(18, 0)), CAST(3 AS Numeric(8, 0)), CAST(N'2025-05-21' AS Date), CAST(N'2025-05-21' AS Date), CAST(N'07:45:00' AS Time), CAST(N'16:20:00' AS Time))
SET IDENTITY_INSERT [dbo].[SESSAO] OFF
GO
INSERT [dbo].[TIPO_DE_CARTAO] ([ID_TP_CARTAO], [DESC_CARTAO]) VALUES (CAST(1 AS Numeric(18, 0)), N'pre')
INSERT [dbo].[TIPO_DE_CARTAO] ([ID_TP_CARTAO], [DESC_CARTAO]) VALUES (CAST(2 AS Numeric(18, 0)), N'pos')
GO
INSERT [dbo].[TIPO_DE_CERVEJA] ([ID_TP_CERVEJA], [DESC_TP_CERVEJA]) VALUES (CAST(1 AS Numeric(18, 0)), N'Pilsen')
INSERT [dbo].[TIPO_DE_CERVEJA] ([ID_TP_CERVEJA], [DESC_TP_CERVEJA]) VALUES (CAST(2 AS Numeric(18, 0)), N'IPA')
INSERT [dbo].[TIPO_DE_CERVEJA] ([ID_TP_CERVEJA], [DESC_TP_CERVEJA]) VALUES (CAST(3 AS Numeric(18, 0)), N'Stout')
GO
INSERT [dbo].[TIPO_DE_PAGAMENTO] ([ID_TP_PGTO], [DESC_TP_PGTO]) VALUES (CAST(1 AS Numeric(18, 0)), N'Dinheiro')
INSERT [dbo].[TIPO_DE_PAGAMENTO] ([ID_TP_PGTO], [DESC_TP_PGTO]) VALUES (CAST(2 AS Numeric(18, 0)), N'Cartão de Crédito')
INSERT [dbo].[TIPO_DE_PAGAMENTO] ([ID_TP_PGTO], [DESC_TP_PGTO]) VALUES (CAST(3 AS Numeric(18, 0)), N'Cartão de Débito')
GO
INSERT [dbo].[TIPO_DE_USUARIO] ([ID_TP_USUARIO], [DESC_TP_USUARIO]) VALUES (CAST(1 AS Numeric(18, 0)), N'Admin')
INSERT [dbo].[TIPO_DE_USUARIO] ([ID_TP_USUARIO], [DESC_TP_USUARIO]) VALUES (CAST(2 AS Numeric(18, 0)), N'Usuário')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CLIENTE_CPF]    Script Date: 03/06/2025 10:15:39 ******/
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [UQ_CLIENTE_CPF] UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARTAO]  WITH CHECK ADD  CONSTRAINT [FK_CARTAO_2] FOREIGN KEY([FK_ID_TP_CARTAO])
REFERENCES [dbo].[TIPO_DE_CARTAO] ([ID_TP_CARTAO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CARTAO] CHECK CONSTRAINT [FK_CARTAO_2]
GO
ALTER TABLE [dbo].[CERVEJA]  WITH CHECK ADD  CONSTRAINT [FK_CERVEJA_2] FOREIGN KEY([FK_ID_TP_CERVEJA])
REFERENCES [dbo].[TIPO_DE_CERVEJA] ([ID_TP_CERVEJA])
GO
ALTER TABLE [dbo].[CERVEJA] CHECK CONSTRAINT [FK_CERVEJA_2]
GO
ALTER TABLE [dbo].[PAGAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_PAGAMENTO_2] FOREIGN KEY([FK_ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[PAGAMENTO] CHECK CONSTRAINT [FK_PAGAMENTO_2]
GO
ALTER TABLE [dbo].[PAGAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_PAGAMENTO_3] FOREIGN KEY([FK_ID_MT_PGTO])
REFERENCES [dbo].[MOTIVO_DE_PAGAMENTO] ([ID_MT_PGTO])
GO
ALTER TABLE [dbo].[PAGAMENTO] CHECK CONSTRAINT [FK_PAGAMENTO_3]
GO
ALTER TABLE [dbo].[PAGAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_PAGAMENTO_4] FOREIGN KEY([FK_ID_CARTAO])
REFERENCES [dbo].[CARTAO] ([ID_CARTAO])
GO
ALTER TABLE [dbo].[PAGAMENTO] CHECK CONSTRAINT [FK_PAGAMENTO_4]
GO
ALTER TABLE [dbo].[PAGAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_PAGAMENTO_5] FOREIGN KEY([FK_ID_TP_PGTO])
REFERENCES [dbo].[TIPO_DE_PAGAMENTO] ([ID_TP_PGTO])
GO
ALTER TABLE [dbo].[PAGAMENTO] CHECK CONSTRAINT [FK_PAGAMENTO_5]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_2] FOREIGN KEY([FK_ID_FUNC])
REFERENCES [dbo].[FUNCIONARIO] ([ID_FUNC])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_2]
GO
ALTER TABLE [dbo].[SALDO]  WITH CHECK ADD  CONSTRAINT [FK_SALDO_2] FOREIGN KEY([FK_ID_CARTAO])
REFERENCES [dbo].[CARTAO] ([ID_CARTAO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SALDO] CHECK CONSTRAINT [FK_SALDO_2]
GO
